@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
}
body {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width:800px;

}
.formName{
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    margin-top: 10px;
}
.name{
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    text-align: center;
}
.textName{
    text-align: center;
    font-weight: normal;
    font-size: 20px;
}
.inputName{
    text-align: center;
    font-weight: normal;
    font-size: 15px;
    width: 250px;
    height: 25px;
}
.email{
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    text-align: center;
}
.textEmail{
    text-align: center;
    font-weight: normal;
    font-size: 20px;
}
.inputEmail{
    text-align: center;
    font-weight: normal;
    font-size: 15px;
    width: 246px;
    height: 25px;
}
.message{
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    text-align: center;
}
.textMessage{
    text-align: center;
    font-weight: normal;
    font-size: 20px;
}
.inputMessage{
    text-align: left;
    font-weight: normal;
    font-size: 15px;
    width: 230px;
    height: 75px;
    vertical-align: top;
}
.captcha{
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    text-align: center;
}
.textCaptcha{
    text-align: center;
    font-weight: normal;
    font-size: 25px;
}
.inputCaptcha{
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    width: 30px;
    height: 25px;
}
.table{
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    text-align: center;
    vertical-align: bottom;
}/*
.button{
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    text-align: center;
}*/
.textButton{
    text-align: center;
    font-weight: normal;
    font-size: 25px;
}
.inputButton{
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    width: 50px;
    height: 30px;
    margin-left: 10px;
}
.error{
    text-align: center;
    font-weight: normal;
    font-size: 15px;
    height: 15px;
}
.nameEmail{
    text-align: left;
    font-weight: normal;
    font-size: 15px;
    padding-bottom: 5px;
}
.messages{
    text-align: justify;
    font-weight: normal;
    font-size: 20px;
}
.date{
    text-align: right;
    font-weight: normal;
    font-size: 15px;
    padding-left: 650px;
    padding-top: 5px;
}
.pMessage{
    margin: 10px 10px;
}/*
ul.paginator{
    margin: 5px;
    text-align: center;
}*/

ul.paginator li{
    display: inline;
    padding: 3px;
    text-align: center;
    font-size: 15px;
    margin: 10px auto;

/*
.divPaginator{
    margin: 10px auto;
    text-align: center;
    position: relative;
    float: left;
}*/